[submodule "Assignment-02/my-project/lib/forge-std"]
	path = Assignment-02/my-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Class.logic/my-project/lib/forge-std"]
	path = Class.logic/my-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
